.navbar-container {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    /* border-bottom: 2px solid #4e7f91; */
}
.nav-links {
    margin-top: 35px;
    margin-left: 25px;
}

.nav_bar-container {
    display: flex;
    align-items: center;
    max-width: 100vw;
}

.fas.fa-utensils {
    font-size: 1.5rem;
}

.nav-wrapper_welcome {
    background-color: #a2d7e0;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid #315968;
}
.nav-wrapper_login {
}

.link-wrapper {
    /* background-color: blue; */
    margin-left: auto;
}

@media only screen and (max-width: 700px) {
    .navbar-container {
        position: relative;
        right: 10px;
        bottom: 5px;
    }
    .nav-links {
        margin-left: 5px;
    }
}

.nav-wrapper_signup {
}
/* .logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-repeat: no-repeat;
    background-size: 60px;
    margin-top: 5px;

    color: #427386;
} */
.icon {
    font-size: 50px;
    color: #427386;
    margin-top: 20px;
}

.navbar-title {
    color: #76b3cb;
}
a:hover {
    text-decoration: none !important;
    color: #497383;
}

.active {
    text-decoration: none;
    color: #548396;
}
/* 
@media (max-width: 768px) {
    .logo-wrapper {
        justify-content: center;
    }
    .nav-wrapper {
        justify-content: center;
    }
    .nav-links {
        margin-left: none;
    }
    .navbar-container {
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        align-self: center;
        height: 55px;
        padding-right: 40px !important;
    }
} */
/* .user-menu {
    justify-self: flex-end;
    margin-left: 100px;
} */

.logo-wrapper {
    margin-bottom: 15px;
}
